{% extends 'base.html' %}
{% load static %}
{% block title %}
    Booked Tickets
{% endblock %}
{% block content %}
    <div class="container mt-4">
        {% if booked_tickets %}
            <h1>Booked Tickets</h1>
            <table class="table table-bordered mt-3">
                <thead class="thead-dark">
                    <tr>
                        <th>Bus Name</th>
                        <th>Bus ID</th>
                        <th>Date</th>
                        <th>Seat Number</th>
                        <th>Passenger Name</th>
                        <th>Passenger Gender</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for booked_seat in booked_tickets %}
                        <tr>
                            <td>{{ booked_seat.bus_name }}</td>
                            <td>{{ booked_seat.bus_id }}</td>
                            <td>{{ booked_seat.date }}</td>
                            <td>{{ booked_seat.seat_number }}</td>
                            <td>{{ booked_seat.passenger_name }}</td>
                            <td>{{ booked_seat.passenger_gender }}</td>
                            <td>{{ booked_seat.status }}</td>
                            <td>
                                <form id="cancelForm_{{ booked_seat.id }}" action="{% url 'cancel_booking' booked_seat.id %}" method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-danger" type="button" onclick="confirmCancellation('cancelForm_{{ booked_seat.id }}')">Cancel</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No booked tickets to show.</p>
        {% endif %}
    </div>
    <script>
        function confirmCancellation(formId) {
            var confirmation = confirm("Are you sure you want to cancel this ticket?");
            if (confirmation) {
                document.getElementById(formId).submit();
            } else {
                // Cancel button was pressed
                return false;
            }
        }
    </script>
{% endblock %}
