{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block extra_css %}
 <link rel="stylesheet" type="text/css" href="{% static 'css/login1.css' %}">
{% endblock %}

{% block content %}
  <div class="login-container">
    <h2>Login</h2>
    {% if error_message %}
      <p>{{error_message}}</p>
    {% endif %}
    <form method="POST">
      {% csrf_token %}
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required><br>
      <button type="submit">Login</button>
    </form>
    <a href="{% url 'password_reset' %}">Forgot Password?</a>
  </div>
{% endblock %}
